# macOS
.DS_Store

# Xcode
build/
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
android/app/build/
android/app/src/main/assets/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Node
node_modules/
npm-debug.log*
yarn-error.log

# Bundle artifacts
*.jsbundle
*.keystore
!debug.keystore

# CocoaPods
/ios/Pods/
/vendor/bundle/

# IDE
.vscode/
.cursor/

# Pisano config (contains credentials)
src/pisano.config.ts
